
	<div class="search-result">
		<h1><a href="<%= @brunch.url %>"> <%= @brunch.name %> </a></h1>

		<br>
  	<img src = "<%= @brunch.rating_img_url_large %>">
		<br>
		<%= @brunch.review_count %> reviews
  	<br>
  	<%= @brunch.location.display_address[0] %>
  	<br>
  	<%= @brunch.location.city %>, <%= @brunch.location.state_code %> <%= @brunch.location.postal_code %>
  	<br>
  	<%= @brunch.display_phone %>
  	<br>

		<%= form_for @favorite do |fav| %>
    <%= fav.hidden_field(:name) %>
		<%= fav.hidden_field(:url) %>
		<%= fav.hidden_field(:rating) %>
		<%= fav.hidden_field(:reviews) %>
		<%= fav.hidden_field(:address) %>
		<%= fav.hidden_field(:phone) %>
	  <%= submit_tag 'Save to Favorites', :class => "favoriteBtn" %>
		<% end %>
	</div>
