<!-- <%= @brunch_search.businesses[0].name %>
<%= @brunch_search %>

<%=["businesses"].map{|business| business["name"]}%> -->

	<h1> The Brunchinator </h1>

		<% @brunch_search.businesses.each do |brunches| %>

					<a href="<%= brunches.url %>"> <%= brunches.name %> </a>
					<br>
					<%= brunches.location.display_address[0] %>
					<br>
					<%= brunches.location.city %>, <%= brunches.location.state_code %> <%= brunches.location.postal_code %>
					<br>
					<%= brunches.display_phone %>
					<br>
					<h4> Neighborhood: </h4>
					<%= brunches.location.neighborhoods[0] %>
					<br>
					<h4> Rating: </h4>
					<%= brunches.rating %>
					<br>
					<img src = "<%= brunches.rating_img_url %>">

				<br>
		<% end %>
		<%= link_to '<button type="button">Search Again</button>'.html_safe, root_path %>

		<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png">
