<%= @brunch_search %>

<!-- <div class="results col-sm-4 col-sm-offset-6 col-xs-10 col-xs-offset-1">
	<h1> Brunchinator </h1>
	<ul>
		<% @brunch_search.businesses.each do |brunches| %>
				<li>
					<a href="<%= brunches.url %>"> <%= brunches.name %> </a>
					<br>
					<%= brunches.location.display_address[0] %>
					<br>
					<%= brunches.location.city %> , <%= brunches.location.state_code %> <%= brunches.location.postal_code %>
				</li>
				<br>
		<% end %>
		<%= link_to '<button type="button">Search Again</button>'.html_safe, root_path %>

		<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png">
	</ul>

</div> -->
