<!DOCTYPE html>
<html>
<head>
  <title>Brunchinator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="site">
  <!-- Navigation bar: -->
  <ul class="navigation">
    <li><a href="/">THE BRUNCHINATOR</a></li>
    <li><a href="/">Home</a></li>
    <li><a href= "/favorites" >My Favorites</a></li>
    <li><a href="/users/sign_in">Log In</a></li>
    <li><a href="/users/sign_out">Sign Out</a></li>
  </ul>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>

<main class="site-content">
  <%= yield %>
</main>

<footer class="site-footer">
  Powered by Yelp!
  <img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png">
</footer>
</body>
</html>
