<!DOCTYPE html>
<html>
<head>
  <title>Brunchinator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="site">
  <!-- Navigation bar: -->
  <ul class="navigation">
    <li><a href="#">The Brunchinator</a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">My Favorites</a></li>
    <li><a href="#">Log In</a></li>
  </ul>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<main class="site-content">
</main>


<footer class="site-footer">
  Powered by Yelp!
  <img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png">
  <%= link_to '<button type="button">Go Home to Search Again</button>'.html_safe, root_path %>
</footer>

</body>
</html>
